#blog {
  padding: 50px 0 100px 0;
}
.blog-post {
  padding: 50px 100px 0px 100px;
  @media screen and (max-width: 768px) {
    padding: 40px 40px 0px 40px;
  }
  @media screen and (max-width: 576px) {
    padding: 20px 10px 0px 10px;

  }
}
.poster-img {
  img {
    border-radius: 50%;
    max-width: 55px;
    max-height: 55px;
    object-fit: cover;
  }
}
.poster-name {
  color: #592ea9;
}
.blog-image {
  max-height: 70vh;
  object-fit: cover;
}